body {
    background-color: #D2B48C;
    color: #3c4142;
  	font-family: 'Times New Roman', georgia, serif;
    font-size: 20px;
    text-align:left;
}

h1 {
    color: #000080;
  	font-size: 50px;
}
h2	{
}
p {
}
